<mat-card>
<div class="container">
  <h1>View Employee </h1>

  <a href="#" routerLink="/users/index" class="btn btn-primary">Back</a>

  <div>
      <strong>Employee ID:</strong>
      <p>{{ users._id }}</p>
  </div>

  <div>
      <strong>Employee Name:</strong>
      <p>{{ users.empName }}</p>
  </div>

  <div>
      <strong>Employee Email</strong>
      <p>{{ users.empEmail }}</p>
  </div>
  <div>
    <strong>Employee Mobile</strong>
    <p>{{ users.empMobile }}</p>
</div>
</div>
</mat-card>
