<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> Employee ID </th>
      <td mat-cell *matCellDef="let user"> {{user._id}} </td>
    </ng-container>

    <ng-container matColumnDef="student_name">
      <th mat-header-cell *matHeaderCellDef> Student Name </th>
      <td mat-cell *matCellDef="let user"> {{user.empName}} </td>
    </ng-container>

    <ng-container matColumnDef="student_email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.empEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef> Section </th>
      <td mat-cell *matCellDef="let user"> {{user.empMobile}} </td>
    </ng-container>
