<div class="container">
  <div class="container">
    <h1>Employee Records</h1>

    <a href="#" routerLink="/users/createuser/" class="btn btn-success">Create New Employee Profile</a>

    <table class="table table-bordered">
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Mobile</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user._id }}</td>
        <td>{{ user.empName }}</td>
        <td>{{ user.empEmail }}</td>
        <td>{{user.empMobile}}</td>
        <td>
          <a href="#" [routerLink]="['/users/', user._id, 'view']" class="btn btn-info">View</a>
          <a href="#" [routerLink]="['/users/', user._id, 'edit']" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteUsers(user._id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>
